@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .app-background {
    background: linear-gradient(to right, #f9f9f9, #e9cdf8, #f9f9f9);
    overflow-y: scroll;
    opacity: 0.8
  }
}
